html {
  box-sizing: border-box;
  font-size: 16px;
}
*,
*:before,
*:after {
  box-sizing: inherit;
}
body,
h1,
h2,
h3,
h4,
h5,
h6,
p,
ol,
ul {
  margin: 0;
  padding: 0;
  font-weight: normal;
}
ol,
ul {
  list-style: none;
}
img {
  max-width: 100%;
  height: auto;
}
/*  */

body {
  background-color: black;
  width: 100%;
  min-height: 100vh;
  position: relative;
  overflow: hidden;
}
.circle {
  pointer-events: none;
  border: 1px solid gold;
  border-radius: 50%;
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translateX(-50%) translateY(-50%);
  transition: all 1000ms;
  transition-timing-function: ease-out;
  background: radial-gradient(
    rgba(255, 251, 235, 0.1) 0%,
    rgba(255, 241, 163, 0.05) 10%,
    rgba(255, 217, 0, 0.05) 30%,
    rgb(251, 255, 0, 0.5) 50%,
    gold 100%
  );
  opacity: 0.2;
  height: 0vmin;
  max-width: 400vmin;
  max-height: 400vmin;
}
